*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #DDF2FD;
    padding: -30px;
}

body{
    background-image: url("../imgs/background4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #cccccc;
    background-attachment: fixed;

}

.content-box{
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
    width: 90%;
    height: 90vh;
    max-width: 800px;
    margin-top: 20px;
    padding-bottom: 70px;
    box-shadow:
    0 -2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 -6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 -12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 24.4px rgba(0, 0, 0, 0.086),
    0 100px 40px rgba(0, 0, 0, 0.12);
}

.left-box{
    position: relative;
    padding: 20px 80px 80px;
    margin: 30px;
    background-color: #eae5e8;
    flex-basis: 50%;
    border-radius: 20px;
    flex-grow: 1;
    max-width: 100%;
    height: 100%;
    box-shadow:
    0 -2.0px 2.2px rgba(0, 0, 0, 0.034),
    0 -3.7px 5.3px rgba(0, 0, 0, 0.048),
    0 -12.5px 10px rgba(0, 0, 0, 0.06),
    0 20.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    align-items: center;
}

.content-box .cps-logo{
    height: 60px;
    max-height: 220px;
    max-width: 180px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.form-control{
    width: 90%;
    border: 1px solid #b20000;
    border-radius: 0;
    outline: none;
    color: #080808;
    padding: 10px;
}

.form-text{
margin-top: 140px;
color: #43545c;
text-align: center;

}

.page-text{
    margin-left: 40px;
    color: #080808;
    text-decoration: underline;
}

.btn{
    width: 90%;
    margin: 15px 0;
    border: 0;
    background: #b20000;
    outline: none;
    color: #ffffff;
    border-radius: 0;
    font-size: 1vw;
    cursor: pointer;
    transition: background 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 10px  black;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover{
    text-decoration: none;
    background: #f4f6f7;
    color: #080808;
    font-weight: bold;
}

.rodape-icons{
    padding: 20px;
    
    }

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    .content-box {
        flex-direction: column;
        
    }

    .left-box, .right-box {
        flex-basis: 100%;
        max-width: 100%;
    }

    .content-box .cps-logo {
        top: auto;
        right: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .left-box-text {
        font-size: 5vw;
    }

    .left-box{
        max-width: 100%;
        padding: 1em;
    }

    .content-box{
        width: 90%; /* Faça a caixa de inscrição preencher a largura em telas pequenas */
        
    }
}
